//Fonts
$pt-sans: "PT Sans", "Arial", sans-serif;

// Widths
$mobile-width: 320px;
$table-width: 768px;
$desktop-width: 1200px;

// Colors
$white: #ffffff;
$black: #000000;
$light-blue: #81b3d2;
$light-gray: #eeeeee;
$light-gray-2: #f2f2f2;
