.advantages__list {
  padding: 0;

  &--short {
    @media (min-width: $table-width) {
      display: flex;
    }
  }
}


.advantages__container {
  @media (min-width: $table-width) {
    display: flex;

    &--to-left {
      flex-direction: row-reverse;
    }
  }
}

.advantages__info {
  background-color: $light-blue;

  &--gray {
    background-color: $light-gray;
  }
}

.advantages__item {
  width: 100%;
}

.advantages__title {
  text-transform: uppercase;

  font-family: $pt-sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  color: white;

  &--black {
    color: black;
  }
}

.advantages__description {
  text-transform: uppercase;

  font-family: $pt-sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: white;

  &--black {
    color: black;
  }
}

