.footer__hashtag {
  font-family: $pt-sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer__developed-by {
  text-transform: uppercase;

  font-family: $pt-sans;
  font-size: 14px;
  line-height: 26px;
}
