.last-question-block {
  background-color: white;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
}


.last-question-block__title {
  text-transform: uppercase;
  font-family: $pt-sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
}

.last-question-block__description {
  text-transform: uppercase;
  font-weight: normal;
  font-family: $pt-sans;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
}

.last-question-block__button {
  text-transform: uppercase;

  font-family: $pt-sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: white;

  background-color: $light-blue;
  border: 0;
}
