.main-nav__list {
  list-style: none;

  margin: 0;
  padding: 0;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__item {
  text-transform: uppercase;

  font-family: $pt-sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.main-nav__button {
  display: block;

  background-color: $light-blue;

  text-decoration: none;
  color: $white;
}
