.photo-boxes__name {
  text-transform: uppercase;

  font-family: $pt-sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photo-boxes__author {
  font-family: $pt-sans;
  font-size: 14px;
  line-height: 24px;
}

.photo-boxes__likes {
  font-family: $pt-sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
