/* AutoImporter 0.1 -- */
// sass/utils imports
@import "utils/fonts.scss";
@import "utils/mixins.scss";
@import "utils/variables.scss";

// sass/blocks imports
@import "blocks/advantages.scss";
@import "blocks/button";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/header.scss";
@import "blocks/last-question-block.scss";
@import "blocks/main-nav.scss";
@import "blocks/photo-boxes.scss";
@import "blocks/recommendations.scss";
/* -- AutoImporter */

// Global styles
/*.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);

  margin: -1px;
}*/

.page {
  height: 100%;
  width: 100%;
}

.page__body {
  min-height: 100%;
  min-width: 100%;

  margin: 0;
}
